<%= content_for :scripts do %>
<script>
  var entity_source = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: '<%= entity_typeahead_path %>.json?q=%QUERY'
  });
   
  entity_source.initialize();
   
  $('.typeahead').typeahead(null, {
    name: 'entity-typeahead',
    displayKey: 'cached_full_name',
    source: entity_source.ttAdapter()
  }).on('typeahead:autocompleted', function($e, datum) { $('input[id*=entity_id]').val(datum.id); });
</script>
<% end %>
<% if model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading">
        <% if local_assigns.has_key?(:error_message) && error_message %>
        <%= error_message %>
        <% else %>
        <%= pluralize(model.errors.count, 'error') %> prohibited the item from being changed:
        <% end %>
      </h4>
      <ul>
        <% model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form.input :ship_to_entity_id, :as => :hidden, :controls_html => { class: 'col-sm-4' } %>
<%= form.input :ship_to_entity_display_string, 
  :label => 'Ship To',
  :controls_html => { class: 'col-sm-4' }, 
  :input_html => { :class => 'typeahead', :placeholder => 'Start typing to find a ship to entity' } %>
<%= form.input :date, :as => :string,
  :controls_html => { class: 'col-sm-4' },
  :input_html => { :type => :date } %>
<%= form.input :number, 
  :controls_html => { class: 'col-sm-4' } %>
<%= form.input :earliest_request_date, :as => :string,
  :controls_html => { class: 'col-sm-4' },
  :input_html => { :type => :date } %>
<%= form.input :latest_request_date, :as => :string,
  :controls_html => { class: 'col-sm-4' },
  :input_html => { :type => :date } %>

