<table class="table table-striped table-with-link-column">
  <thead>
  <tr>
    <th>Sender</th>
    <th colspan="2">Source</th>
    <th>Product</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @product_translations.each do |product_translation| %>
    <tr>
      <td><%= product_translation.sender_value %></td>
      <td><%= product_translation.source_field %></td>
      <td><%= product_translation.source_value %></td>
      <td nowrap><%= product_translation.product_display_string %></td>
      <td nowrap>              
        <%= link_to [product_translation, :return_url => return_url(request.original_url)],
                    class: 'btn btn-default btn-icon btn-sm hidden-print' do %>
            <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
      </td>
    </tr>
  <% end.empty? %>
    <tr>
      <td colspan="4">No product translations found</td><td></td>
    </tr>
  <% end %>
  </tbody>
</table>